<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Mappa IP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"
    />
  </head>
  <body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script>
      const locations = <%- JSON.stringify(locations) %>;

      const map = L.map('map',{maxZoom: 10}).setView([45.4, 9.1], 8);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      // Inizializza il cluster group
      const markers = L.markerClusterGroup({
        disableClusteringAtZoom: 100  // Mai disabilitare il clustering automaticamente
      });

      locations.forEach(loc => {
        const marker = L.marker([loc.lat, loc.lon])
          .bindPopup(`<b>${loc.city}</b><br>${loc.country}<br>${loc.ip}`);
        markers.addLayer(marker);
      });

      map.addLayer(markers);
    </script>
  </body>
</html>
