<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Mappa Devices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/style.css?v=1.0.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"
    />
  </head>
  <body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script>
      const locations = <%- JSON.stringify(locations) %>;

      const map = L.map('map',{maxZoom: 12}).setView([45.4, 9.1], 8);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      // Inizializza il cluster group con le opzioni per disabilitare lo zoom sul gruppo
      const markers = L.markerClusterGroup({
        spiderfyOnMaxZoom: false, // Disabilita lo "spiderfy" quando si fa zoom
        zoomToBoundsOnClick: false // Disabilita lo zoom sul gruppo quando viene cliccato
      });

      locations.forEach(loc => {
        const marker = L.marker([loc.lat, loc.lon]); // Non associamo il popup
        markers.addLayer(marker);
      });

      map.addLayer(markers);
    </script>
  </body>
</html>
